{# src/HDA/ClichesBundle/Resources/views/Oeuvre/register_content.html.twig #}
<form class="form-horizontal" method="post" action="{{ path( 'cliches_player_proposalchoice_proposalchoice', {'playerOeuvre_id': playerProposal.playerOeuvre.id })}}" {{ form_enctype(form) }} role="form">
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
        </div>
        <br />
    {% endif %}

    <fieldset>
        <legend>Cartel :</legend>

        {{ form_rest(form) }}
    </fieldset>
    <br />
    <div class="pull-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerProposal.playerOeuvre.playerSession.id }) }}" class="btn btn-default" title="Terminer la partie" data-toggle="tooltip" data-placement="left" ><span class="glyphicon glyphicon-log-out"></span></a></div>
    <div class="text-center"><input type="submit" class="btn btn-success" value="Vérifier" /></div>
</form>