{# src/HDA/AdministrationBundle/Resources/views/Index/index.html.twig #}
 
{% extends "CLICHESAdministrationBundle::layout.html.twig" %}
 
{% block title %}
    Liste des PlayerSessions - {{ parent() }}
{% endblock %}

{% block brandtitle %}
    Liste des dernières sessions
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Liste des dernières sessions</li>
{% endblock %}

{% block h1 %}
    Liste des dernières PlayerSessions
{% endblock %}

{% block content %}
<div class="row">
    <section id="content" class="col-lg-12">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <caption>{{ sessions.getTotalItemCount }} résultats</caption>
                <tr>
                    <th>#</th>
                    <th>Matière</th>
                    <th>Période</th>
                    <th>Type</th>
                    <th>End</th>
                    <th>Nb</th>
                    <th>User</th>
                </tr>
            {% for session in sessions %}
                <tr>
                    <td>{{ ((sessions.getPaginationData.current-1)*100)+loop.index }}</td>
                    <td>{{ session.teaching.name }}</td>
                    <td>
                        <a href="{{ path('cliches_administration_playersession_view', {'session_id': session.id}) }}">
                            {% if session.dateBegin is null and session.dateEnd is null %}Aucune donnée{% endif %}
                            {% if session.dateBegin is not empty %}{{ session.dateBegin|date('d-m-Y H:i:s') }}{% endif %}
                            {% if session.dateEnd is not empty %} - {{ session.dateEnd|date('H:i:s') }}
                            <span class="glyphicon glyphicon-arrow-right"></span> {{ cliches_player_playersession_service.getDiffTimeSession(session)|date("%H:%I:%S")}}{% endif %}
                        </a>
                    </td>
                    <td>
                        {% if session.proposalType == 'modeChoice' %}Choice
                        {% elseif session.proposalType == 'modeField' %}Field
                        {% elseif session.proposalType == 'modeTest' %}Test
                        {% else %}<span class="text-warning">Undef.</span>
                        {% endif %}
                    </td>
                    <td>{% if cliches_player_playerend_service.getBySession(session) != null %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ cliches_player_playersession_service.getNumberCliches(session) }}</td>
                    <td>{{ session.ipPlayerUser }}{% if session.createUser is not empty %} <span class="glyphicon glyphicon-arrow-right"></span> <a href="{{ path('cas_administration_user_view', {'id': session.createUser.id}) }}">{{ session.createUser.email }}</a>{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
            <div class="text-center">{{ knp_pagination_render(sessions) }}</div>
        </div>
    </section>
</div>
{% endblock %}
