<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <a href="{{ path('data_public_entity_view', {'id': data_data_entity_service.getByView(playerOeuvre.view).id}) }}">Voir sur DATA</a>
            {% if detailedProfile is defined and detailedProfile == true %}{{ playerOeuvre.createDate|date('d-m-Y H:i:s') }}{% endif %}
        </div>
        <h3 class="panel-title">&OElig;uvre #{{ loop.index }} :</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="thumbnail">
                {{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': playerOeuvre.view.id, 'class': 'image-cliches-list'})) }}
                {% set image = data_image_image_service.getOneByView(playerOeuvre.view) %}
                <div class="caption">
                    <p>&copy; {{image.copyright}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            {% if playerProposal is not null %}
                {% for playerProposalField in playerProposal %}
                    <dl class="dl-horizontal">
                        <dt>{{ playerProposalField['label'] }}</dt>
                        <dd>
                            {% if playerProposalField['suggestResult'] is not empty %}<p>{{ playerProposalField['suggestResult'] }}</p>
                            {% else %}<p class="text-warning">Vous n'avez rien proposé</p>
                            {% endif %}
                            <p class="text-success">{{ playerProposalField['trueResult'] }}</p>
                        </dd>
                    </dl>
                {% endfor %}
            {% else %}
                {% if playerOeuvre.playerSession.simpleSession != true %}<p class="alert alert-warning text-center">Vous n'avez rien répondu pour cette oeuvre.</p>{% endif %}
                {% for field in data_data_entity_service.getListFieldsForEntity(entity) %}
                    {% if data_data_entity_service.valueByField(field['field'], entity) != 'unrelevant' and data_data_entity_service.valueByField(field['field'], entity) != 'empty' %}
                        <dl class="dl-horizontal">
                            <dt>{{ field['label'] }}</dt>
                            <dd><span class="text-success">{{ data_data_entity_service.valueByField(field['field'], entity) }}</span></dd>
                        </dl>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>