{# src/CAS/LayoutBundle/Resources/views/layout.html.twig #}
 
{% extends "::layout.html.twig" %}

{% block title %}
    histoiredelart.fr
{% endblock %}

{% block follow %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-standard.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/signin.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('images/logo.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/logo.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/logo.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/logo.png') }}">
{% endblock %}

{% block container %}
<div class="container">
    {% block content %}{% endblock %}
</div>
{% endblock %} 

{% block javascript %}
{% endblock %}