{% extends "TBAdministrationBundle::layout.html.twig" %}

{% block title %}Ajouter des items - {{ testedGame.title }} - {{ parent() }}{% endblock %}

{% block h1 %}Ajouter des items - {{ testedGame.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('tb_administration_testedgame_view', {'testedGame_id': testedGame.id}) }}">{{ testedGame.title }}</a></li>
    <li class="active">Ajouter des items</li>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% include "TBAdministrationBundle:TestedGame:AddItems/addItems_content.html.twig" %}
{% endblock %}

{% block javascript_sub %}
    {% javascripts  '@TBAdministrationBundle/Resources/public/js/addItems.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
