{% extends "TBHomeBundle::layout.html.twig" %}

{% block title %}Bienvenue sur Clichés! - {{ parent() }}{% endblock %}

{% block h1 %}Bienvenue sur Clichés!{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="panel panel-default">
                <div class="list-group">
                {% for testedGame in testedGames %}
                    {% include 'TBHomeBundle:Home:Home/index-testedGame.html.twig' %}
                {% endfor %}
                    <div class="list-group-item list-group-item-btn">
                        <a href="{{ path('tb_home_home_getAllTestedGames') }}" class="btn btn-block btn-lg btn-primary btn-list-group-item btn-list-group-item-radius-bottom">Afficher toutes les parties</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <h1 class="hidden">Bienvenue sur Clichés!</h1>
            <div class="panel panel-default">
                <div class="list-group">
                    <div class="list-group-item text-center list-group-item-btn">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('tb_personalplace_generate_generate') }}" class="btn btn-lg btn-block btn-primary btn-list-group-item btn-list-group-item-radius-top"><i class="fa fa-plus" aria-hidden="true"></i> Créer une partie</a>
                        {% else %}
                            <a href="{{ path('tb_home_home_registrationArg') }}" class="btn btn-lg btn-block btn-primary btn-list-group-item btn-list-group-item-radius-top"><i class="fa fa-user" aria-hidden="true"></i> Inscris-toi et crée tes propres parties !</a>
                        {% endif %}
                    </div>
                    <div class="list-group-item text-center jumbotron">
                        <h2>Partager, c'est nous aider !</h2>
                        <div class="addthis_sharing_toolbox"></div>
                    </div>
                    <div class="list-group-item list-group-item-no-padding text-center">
                        <strong><a class="twitter-timeline" data-height="400" href="https://twitter.com/clichesart">Tweets de @clichesart</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}