{% extends "HOMEHomeBundle::layout.html.twig" %}

{% block h1 %}histoiredelart.fr{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

<div class="jumbotron" style="background-color: #FFF">
    <div class="pull-right"><div class="addthis_inline_follow_toolbox"></div></div>
    <h2>Bienvenue sur histoiredelart.fr</h2>
    <p class="lead text-center">Nous sommes heureux et fiers de proposer, développer et maintenir les applications suivantes dédiées à l'enseignement et à la recherche en histoire de l'art et en archéologie.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{{path('data_public_home_index')}}">
                <img src="{{ asset('images/data_screenshot.png') }}" alt="Capture d'écran de DATA" style="max-height: 200px;"/>
            </a>
            <div class="caption">
                <h3 class="text-center"><a href="{{path('data_public_home_index')}}">DATA</a></h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{{path('cliches_home_home_index')}}">
                <img src="{{ asset('images/logo-big.png') }}" alt="Logo de Clichés!" style="max-height: 200px;"/>
            </a>
            <div class="caption">
                <h3 class="text-center"><a href="{{path('cliches_home_home_index')}}">Clichés!</a></h3>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="{{path('tb_home_home_index')}}">
                <img src="{{ asset('images/logo-big.png') }}" alt="Logo de Clichés!" style="max-height: 200px;"/>
            </a>
            <div class="caption">
                <h3 class="text-center"><a href="{{path('tb_home_home_index')}}">ConfusArt</a></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}