{% extends "CLICHESLayoutBundle::layout.html.twig" %}

{% block h1 %}
    Mes suggestions :
{% endblock %}

{% block brandtitle %}
    Mes suggestions
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="active">Mes suggestions</li>
{% endblock %}


{% block content %}
    {% if playerSuggests is not empty %}
        <table class="table table-striped table-bordered" style="width: 100%">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Oeuvre</th>
                <th class="text-center">Suggestion</th>
                <th class="text-center">Traitement</th>
            </tr>
            {% for playerSuggest in playerSuggests %}
                <tr>
                    <td class="text-center">
                        {{ loop.index }}<br />
                        {% if playerSuggest.playerSuggestField != null %}<p><span class="label label-warning">Suggest</span></p>
                        {% else %}<p><span class="label label-success">Error</span></p>
                        {% endif %}
                    </td>
                    <td>
                        <strong><a href="{{ path('data_public_entity_view', { 'id' : playerSuggest.view.entity.id} ) }}">{{ data_data_entity_service.getName(playerSuggest.view.entity) }}</a></strong>
                        <div class="thumbnail">{{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': playerSuggest.view.id, 'class': 'image-cliches-list thumbnail'})) }}</div>
                    </td>
                    <td>
                        {% if playerSuggest.playerSuggestField != null %}
                            <strong>{{ playerSuggest.playerSuggestField }} :</strong>
                            <ul>
                                <li><em>Valeur actuelle :</em> <strong>{{ cliches_player_playersuggest_service.findCurrentValue(playerSuggest) }}</strong></li>
                                <li><em>Valeur proposée :</em> <strong>{{ playerSuggest.playerSuggestContent }}</strong></li>
                            </ul>
                        {% else %}<strong>{{ playerSuggest.playerSuggestContent }}</strong>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if playerSuggest.playerSuggestAccept == true and playerSuggest.playerSuggestTraitement == true %}<p class="text-success">Validé</p>
                        {% elseif playerSuggest.playerSuggestAccept == false and playerSuggest.playerSuggestTraitement == true %}<p class="text-warning">Refusé</p>
                        {% elseif playerSuggest.playerSuggestTraitement == false %}<p class="text-info">Non traité</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="well">
            <h2>Suggestions rejettées :</h2>
            <p>Si certaines de vos suggestions sont indiquées au statut "Refusée", c'est que nous avons jugé que les données présentes dans ces dernières n'étaient pas correctes. N'hésitez pas à nous contacter pour toute information supplémentaire.</p>
        </div>
    {% else %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Oups ... Aucune suggestion ...</h3>
            </div>
            <div class="panel-body">
                <p class="text-center"><strong>Oups ... Vous n'avez pour le moment fait aucune suggestion d'amélioration du contenu de Clichés!. Faire des suggestions de contenu nous aide fortement à améliorer la pertinence de Clichés!. N'hésitez pas à en faire à l'avenir.<br />
                <a href="{{ path('cliches_home_home_index') }}">Lancez une partie</a> et revenez ensuite pour que vos suggestions s'affichent.</strong></p>
            </div>
        </div>
    {% endif %}
{% endblock %}
