{# src/HDA/ClichesBundle/Resources/views/Oeuvre/register_content.html.twig #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<form class="form-horizontal" method="post" action="{{ path('cliches_player_result_result', {'playerProposal_id': playerProposal.id, 'validation': 'vote'}) }}" role="form">
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.vote) }}
        </div>
        <br />
    {% endif %}
    
    <div class="form-group">
        <div class="control-label col-xs-8">
            {{ form_label(form.vote, "Cliché important pour " ~ playerProposal.playerOeuvre.playerSession.teaching.name ~ " ?", {'label_attr': {'class': ''}}) }}
            <span class="glyphicon glyphicon-question-sign" style="cursor: pointer;" data-content="Pensez-vous que ce cliché puisse tomber en examen pour cette matière ?" data-toggle="popover" data-container="body" data-original-title="Importance" ></span>
        </div>
        <div class="col-xs-4">
            {{ form_widget(form.vote) }}
        </div>
    </div>
        
    <hr/>
    <div class="pull-right"><a href="{{ path('cliches_player_end_end', {'playerSession_id' : playerProposal.playerOeuvre.playerSession.id }) }}" class="btn btn-default" title="Terminer la partie" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-log-out"></span></a></div>
    <div class="text-center"><input type="submit" class="btn btn-success" value="Continuer" title="Continuer vers le cliché suivant" /> <span class=""></span></div>

    {{ form_rest(form) }}
</form>