<div class="list-group-item container-testedGame-list" {% if testedGame.icon != null %}style="background-image: url({{ asset('uploads/gallery/' ~ testedGame.icon.fileImage.imageName) }});"{% endif %}>
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <h3 class="h3-testedGame-list">{% if is_granted("ROLE_ADMIN") %}<a href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedGame.id}) }}" class="h3-testedGame-list">{{ testedGame.title }}</a>{% else %}{{ testedGame.title }}{% endif %}</h3>
            {% if testedGame.isOfficial != true %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user == testedGame.createUser and 'administration' not in app.request.get('_route') %}<strong class="strong-testedGame-list"><i class="fa fa-user" aria-hidden="true"></i> Par toi-même</strong> <a class="btn btn-sm btn-default" href="{{ path('tb_testedgame_testedgame_view', {'testedGame_id': testedGame.id}) }}"><i class="fa fa-cog" aria-hidden="true"></i> Administrer</a>
                {% else %}<strong class="strong-testedGame-list">Par <a href="{{ path('tb_personalplace_public_index', {'user_id':testedGame.createUser.id}) }}">{{ testedGame.createUser.username }}</a></strong>
                {% endif %}
            {% else %}<strong class="strong-testedGame-list vertical-align"><img src="{{ asset('images/logo.png') }}" class="logo-icon-xs logo-icon-margin-right" /> Clichés!</strong>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or app.user == testedGame.createUser%}
                <div>
                    {% if testedGame.isOfficial == true %}<span class="label label-info">Officiel</span>{% endif %}
                    {% if testedGame.isOnline == false %}<span class="label label-warning">Hors ligne</span>{% endif %}
                    {% if testedGame.isPrivate == true %}<span class="label label-warning">Privé</span>{% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-4 col-xs-12">
            <a href="{{ path('tb_player_player_index', {'testedGame_id': testedGame.id}) }}" class="btn btn-lg btn-block btn-success btn-play">Jouer !</a>
            {% if is_granted("ROLE_ADMIN") or app.user == testedGame.createUser %}
                <div class="text-right">
                    <dl class="dl-horizontal" style="margin-bottom: 0px;">
                        <dt style="width: 120px;"><strong class="strong-testedGame-list">Sessions :</strong></dt>
                        <dd style="margin-left: 100px;"><strong class="strong-testedGame-list">{{ tb_model_testedsession.getByTestedGame(testedGame)|length }}</strong></dd>
                    </dl>
                </div>
            {% endif %}
        </div>
    </div>
</div>