{% extends "TBPersonalPlaceBundle::layout.html.twig" %}

{% block title %}{{ testedGame.title }} - Voir - {{ parent() }}{% endblock %}

{% block h1 %}{{ testedGame.title }}{% endblock %}

{% block h1_extend %}
    <a href="{{ path('tb_player_player_index', {'testedGame_id': testedGame.id}) }}" class="btn btn-primary">Jouer</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
    <li class="active">Mes parties</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <table class="table table-bordered table-striped">
                {% for testedItem in tb_model_testeditem.getByTestedGame(testedGame) %}
                    <tr>
                        <td>{{ testedItem.itemLabel }}</td>
                        <td>{{ render(controller('DATAImageBundle:Image:renderImage', {'view_id': 0, 'image_id': testedItem.dataImage.id, 'class': 'image-cliches-list fancybox'})) }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
