{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal' } }) }}
    {% if not form.vars.valid %}
        <div class="alert alert-error">
            <strong>Votre formulaire contient les erreurs suivantes :</strong>
            {{ form_errors(form) }}
            {{ form_errors(form.username) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.current_password) }}
        </div>
        <br />
    {% endif %}

    <fieldset>
        <legend>Informations :</legend>

        <div class="form-group">
            {{ form_label(form.username, "Nom d'utilisateur :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form.username, {'attr': {'placeholder': '', 'class': 'form-control', 'type':'email'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email, "Adresse mail :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form.email, {'attr': {'placeholder': '', 'class': 'form-control', 'type':'email'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.current_password, "Confirmez votre mot de passe :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form.current_password, {'attr': {'placeholder': 'Mot de passe actuel', 'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <br />
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    </fieldset>
{{ form_end(form) }}
