{% extends "TBAdministrationBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block h1 %}Administration{% endblock %}

{% block h1_extend %}
    <a class="btn btn-primary" href="{{ path('tb_administration_testedgame_create') }}"><i class="fa fa-plus" aria-hidden="true"></i> Nouveau</a>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <h2>Les dernières parties</h2>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Titre</th>
                    <th>Items</th>
                    <th>Sessions</th>
                </tr>
                {% for testedGame in testedGames %}
                    <tr>
                        <td>{% if testedGame.isOnline == false %}<span class="label label-warning">Offline</span> {% endif %}<a href="{{ path('tb_administration_testedgame_view', {'testedGame_id': testedGame.id}) }}">{{ testedGame.title }}</a></td>
                        <td>{{ tb_model_testeditem.getByTestedGame(testedGame)|length }}</td>
                        <td><a href="{{ path('tb_administration_testedsession_getByTestedGame', {'testedGame_id': testedGame.id}) }}">{{ tb_model_testedsession.getByTestedGame(testedGame)|length }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
